@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';

:root {
  --blue: rgb(62, 94, 222);
  --lightblue: rgb(62, 126, 222);
  --grey: rgb(39, 42, 45);
  --white: rgb(240,240,243);
}

body {
  height: 100vh;
}

.body-container {
  color: var(--slate-12);
  background-color: var(--slate-3);
  background-position-y: -600px;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at center, rgb(57, 71, 196, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  display: flex;
  flex-direction: column;
}

header {
  height: 52px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid var(--slate-3);
  background-color: rgba(33,34,37, 0);
  transition: background-color 0.2s ease-in-out;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.logoName {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 2px;
}

.black-font {
  font-weight: 700;
}

.darkScrolled {
  border-bottom: 1px solid var(--grey);
  background-color: rgba(33,34,37, 0.8);
  backdrop-filter: blur(3px);
}

.lightScrolled {
  border-bottom: 1px solid var(--grey);
  background-color: rgba(240,240,243, 0.8);
  backdrop-filter: blur(3px);
}

a, a:active, a:focus, a:hover {
  all: unset;
  -webkit-tap-highlight-color: transparent !important;
}

.menu {
  position: fixed;
  top: 52px;
  left: -100%;
  width: calc(100vw - 52px);
  height: calc(var(--vh, 1vh) - 52px);
  z-index: 1;
  background-color: var(--slate-3);
  transition: all 0.5s ease-in-out;
  border-right: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
}

.menu.active {
  left: 0;
}

.listIcon {
  transition: transform 0.5s ease-in-out;
}

.iconRotation {
  transform: rotate(90deg);
}

.nav-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  min-height: 60px;
  padding: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav:active {
  background-color: var(--slate-4);
}

.nav-category {
  font-size: 18px;
}

.dropDown {
  padding-bottom: 0;
  border-bottom: 1px solid var(--grey);
}

.genre-caret {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.genre-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genre {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.genre:hover {
  background-color: var(--blue);
}

.genre-icon {
  border: 1px solid var(--slate-5);
  border-radius: 50%;
  background-color: var(--slate-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 7px;
}

.genre-title {
  font-size: 16px;
}

.nav-footer {
  height: 100px;
  width: 100%;
  border-top: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 16px;
  font-size: 13px;
}

.button-container {
  height: 35px;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

.mode-button {
  all: unset;
  width: 50%;
  text-align: center;
}

.selected-mode {
  background-color: var(--grey);
  color: var(--white);
}

.github-button {
  all: unset;
  height: 35px;
  width: 100%;
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  transition: background-color 0.3s ease;
  color: var(--slate-1);
}

.github-button:active {
  background-color: var(--lightblue);
}

.github-button p {
  font-weight: 500;
}

#github-white {
  font-weight: 400;
}

main {
  margin-top: 52px;
}

.main-blur {
  filter: blur(3px);
}

footer {
  height: 150px;
  background-color: rgb(17,16,18);
  border-radius: 0 20px 0 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-genres {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-genre {
  color: var(--white);
  font-size: 12px;
}

.footer-logos {
  display: flex;
  align-items: center;
}